* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  /* margin: 0;
  padding: 0; */
  background-color: #ffffff;
  color: #222222;
  line-height: 1.6;
}

.container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.left {
  width: 30%;
  padding-right: 2rem;
  border-right: 1px solid #ccc;
}

.right {
  width: 70%;
  padding-left: 2rem;
}

h1,
h2,
h3 {
  color: #1A428A;
  margin: 0;
}

.section {
  margin-bottom: 2rem;
}

.item {
  margin-bottom: 1.5rem;

  & ul {
    margin-left: 2rem;
  }
}

.section h2 {
  margin-bottom: 1rem;
}

.section.hero,
.section.contact,
.section.skills,
.section.education {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.section.contact {
  gap: 0.5rem;
}

.section.hero {
  align-items: center;
}

.contact a {
  display: block;
  color: #1A428A;
  text-decoration: none;
  line-height: 1.4;
}

.links_wrapper {
  display: flex;
  align-items: center;
  gap: 12px;

  & a {
    line-height: 1;
  }
}

.text_link {
  width: fit-content;
}

.photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  image-rendering: auto;
}

.position {
  text-transform: uppercase;
  font-size: 1rem;
}

.skills__block {}

.skills__block.english {
  display: flex;
  gap: 0.5rem;
}

.skills ul {
  list-style: disc;
  padding: 0;
  padding-left: 1rem;
}

.skills li {
  margin-bottom: 0.3rem;
}

.show_more_icon {
  display: none;
}

.rest_contact_info,
.contact_wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* Responsive Styles */
@media (max-width: 1023px) {
  .container {
    flex-direction: column;
    padding: 1rem;
  }

  .left,
  .right {
    width: 100%;
    padding: 0;
    border: none;
  }

  .links_wrapper {
    align-items: flex-start;
    gap: 0.5rem;
  }

  .photo {
    width: 150px;
    height: 150px;
  }

  .section.hero {
    align-items: center;
    text-align: center;
  }

  .section {
    margin-bottom: 1.5rem;
  }

  .item ul {
    margin-left: 1rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  .position {
    font-size: 0.9rem;
  }


  .contact_wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 1rem;
  }

  .rest_contact_info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 0.5rem;
  }

  .section.skills,
  .section.education {
    display: block;
  }

  /* Accordion */

  .accordion-toggle {
    cursor: pointer;
    margin-bottom: 1rem;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .show_more_icon {
    display: block;
  }

  .accordion-toggle .show_more_icon {
    transition: transform 0.3s ease;
  }

  .accordion-toggle.open .show_more_icon {
    transform: rotate(180deg);
  }

  .accordion-content {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease;
  }

  .accordion-content.open {
    display: block;
  }

  /* Accordion End */
}

@media print {
  .accordion-content {
    max-height: none !important;
    opacity: 1 !important;
    display: block !important;
  }

  .accordion-toggle {
    display: none;
  }

  .show_more_icon {
    display: none !important;
  }

  .container {
    flex-direction: row !important;
    padding: 2rem !important;
  }

  .left,
  .right {
    width: 50% !important;
    padding: 1rem !important;
  }

  body {
    font-size: 12pt;
  }
}
